# W3schools SQL Practice
https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_in

## How many different products are in each order? Which order has the most number of unique products?

In [ ]:
SELECT OrderID, COUNT(DISTINCT ProductID) AS Num_Product 
FROM [OrderDetails]
GROUP BY OrderID
ORDER BY 2 DESC, 1;

SELECT OrderID, COUNT(ProductID) AS Num_Product 
FROM [OrderDetails]
GROUP BY OrderID
HAVING Num_Product = 5
ORDER BY 1;

## Which products are sold in jars? What is the most expensive product that's sold in jars?

In [ ]:
SELECT * FROM [Products]
WHERE Unit LIKE '%jars%'
ORDER BY Price DESC;

SELECT * FROM [Products]
WHERE Unit LIKE '%jars%'
ORDER BY Price DESC
LIMIT 1;

## What are the product names are included in order ID 10250?

In [ ]:
SELECT DISTINCT OD.OrderID, P.ProductName
FROM [Products] AS P
LEFT JOIN [OrderDetails] AS OD
ON P.ProductID=OD.ProductID
WHERE OD.OrderID = 10250;

## What products are contained in category 'Dairy Products'?

In [ ]:
SELECT Cat.CategoryName , P.ProductID, P.ProductName
FROM [Products] AS P
LEFT JOIN [Categories] AS Cat
ON P.CategoryID=Cat.CategoryID
WHERE Cat.CategoryName = 'Dairy Products';

## Return the top 5 countries which have the most customers? (hint: use distinct to get unique customers)

In [ ]:
SELECT Country, COUNT(DISTINCT CustomerID) AS Num_Customer
FROM [Customers]
GROUP BY Country
ORDER BY 2 DESC
LIMIT 5;

## Which products are sold in ‘jars’?

In [ ]:
SELECT * FROM [Products]
WHERE Unit LIKE '%jars%';

## Which employees studied English in their education background?

In [ ]:
SELECT * FROM [Employees]
WHERE Notes LIKE '%English%';

## Which employees are born after 1960? (hint: use ‘1960-01-01’ to compare with brith date)

In [ ]:
SELECT * FROM [Employees]
WHERE BirthDate >= '1960-01-01'
ORDER BY BirthDate;

## Return the top 10 products have been sold the most

In [ ]:
SELECT ProductID, SUM(Quantity) AS Total_sold
FROM [OrderDetails]
GROUP BY ProductID
ORDER BY Total_sold DESC
LIMIT 10;

## What are the average prices for ‘bottles’ and ‘jars’ products?

In [ ]:
SELECT AVG(Price) AS Avg_Price_jar_bottle 
FROM [Products]
WHERE Unit LIKE '%jars%' 
OR Unit LIKE '%bottle%';

# MySQL sakila Practice

## Which actors have the first name 'Scarlett'?

In [ ]:
SELECT * FROM sakila.actor
WHERE first_name = 'Scarlett';

## Which actors have the last name 'Johansson'

In [ ]:
SELECT * FROM sakila.actor
WHERE last_name = 'Johansson';

## How many distinct actors last names are there?

In [ ]:
SELECT COUNT(DISTINCT last_name) AS Num_distinct_last_name
FROM sakila.actor;

## Which last names appear more than once?

In [ ]:
SELECT last_name, COUNT(last_name) AS Num_last_name
FROM sakila.actor
GROUP BY last_name
HAVING Num_last_name > 1
ORDER BY Num_last_name DESC;

## How many total rentals occured in May?

In [ ]:
SELECT COUNT(rental_id) AS Total_rental
FROM sakila.rental
WHERE MONTH(rental_date) = '05';

## How many staff processed rentals in May?

In [ ]:
SELECT COUNT(DISTINCT staff_id) AS Num_Staff_in_May
FROM sakila.rental
WHERE MONTH(rental_date) = '05';

## Which staff processed the most rentals in May?

In [ ]:
SELECT staff_id, COUNT(staff_id) AS Num_rental_in_May
FROM sakila.rental
WHERE MONTH(rental_date) = '05'
GROUP BY staff_id
ORDER BY 2 DESC
LIMIT 1;

## Which customer paid the most rental in August?

In [ ]:
SELECT customer_id, SUM(amount) AS Total_rent_in_Aug
FROM sakila.payment
WHERE MONTH(payment_date) = '08'
GROUP BY customer_id
ORDER BY 2 DESC
LIMIT 1;

## A summary of rental total amount by month.

In [ ]:
SELECT MONTH(payment_date) AS Month, SUM(amount) AS Total_rental_by_month
FROM sakila.payment
GROUP BY MONTH(payment_date)
ORDER BY 2 DESC;